$font-12 = 12px;
$font-14 = 14px;
$font-16 = 16px;
$font-16 = 18px;
$font-20 = 20px;
$font-24 = 24px;
$font-36 = 36px;

$clr-white = #fff;
$clr-black = #000;

$bgc-blue-1 = rgb(9, 72,129);
$bgc-blue-2 = rgba(9, 72,129, .8);
$bgc-blue-3 = rgba(9, 72,129, .6);
$bgc-blue-4 = rgba(9, 72,129, .4);
$bgc-blue-5 = rgba(9, 72,129, .2);
$bgc-blue-6 = rgba(9, 72,129, .2);

$bgc-gray-1 = rgb(0, 0, 0);
$bgc-gray-2 = rgba(0, 0, 0, .8);
$bgc-gray-3 = rgba(0, 0, 0, .6);
$bgc-gray-4 = rgba(0, 0, 0, .4);
$bgc-gray-5 = rgba(0, 0, 0, .2);
$bgc-gray-6 = rgba(0, 0, 0, .1);

$bgc-white-1 = rgb(255, 255, 255);
$bgc-white-2 = rgba(255, 255, 255, .8);
$bgc-white-3 = rgba(255, 255, 255, .6);
$bgc-white-4 = rgba(255, 255, 255, .4);
$bgc-white-5 = rgba(255, 255, 255, .2);
$bgc-white-6 = rgba(255, 255, 255, .1);
